@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
    color: #2a3b71;
    margin: 0;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 5px;
    margin: 3em 0 1em;
}

h3 {
    color: #2a3b71;
    margin: 0;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
    margin: 2em 0 .5em;
}

h4 {
    color: #2a3b71;
    margin: 0;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 300;
    margin: 1em 0 0.2em;
}

p {
    letter-spacing: 1px;
    font-weight: 200;
}

p a {
    color: rgb(190 24 93)
}
p strong {
    color: rgb(190 24 93)
}

.transaction-buttons {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.btn-default {
    background-color: rgb(190 24 93) !important;
    color: rgb(255,255,255) !important;  
    border-color: rgb(190 24 93) !important;
    width:96% !important;
    margin: .5em .5em !important;
}

.btn-default:hover, .btn-default.active{
    background-color: rgb(255 255 255) !important;
    color: rgb(190 24 93) !important;  
    border-color: rgb(190 24 93) !important; 
}

.fa-caret-down {
    color: rgb(190 24 93) !important;
    display: none !important;
}

.tcnwrapper p, h2, h3, h4, label {
    color: #2a3b71 !important;
}

@media (min-width: 900px) {
    .transaction-buttons {
        flex-direction: row !important;
    }  
    .btn-default {
        width: auto;
    }
}